[submodule "custom/wlsunset"]
	path = custom/wlsunset
	url = https://aur.archlinux.org/wlsunset.git
[submodule "custom/manjaro-sway-settings"]
	path = custom/manjaro-sway-settings
	url = https://github.com/boredland/manjaro-sway-settings.git
[submodule "custom/ttf-material-design-icons-webfont"]
	path = custom/ttf-material-design-icons-webfont
	url = https://gitlab.manjaro.org/packages/community/sway/ttf-material-design-icons-webfont.git
